# Visión Artificial y Sensores
opencv-python    
mediapipe       

# Procesamiento de Datos y ML
numpy            
pandas           
scikit-learn     
joblib           

# Visualización y Métricas
matplotlib       
seaborn          

# Dashboard de Analítica (BI)
streamlit        